/* 
    #815d51 
    #fefdfb
    #fbf4ee
*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Kanit', sans-serif;
}
.logo_img
{
    width:60px;
}
.nav-link
{
    margin:15px;
}
.nav-link.active
{
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #815d51;
    width: fit-content;
}
.btnlogin
{
    color:white;
    background-color: #815d51;
    border-radius: 18px;
    padding:5px;
    width:160px;
}
.btnlogin:hover
{
    color:white;
    background-color: #815d51;
}
.carousel.slide
{
    height: auto;
}

.carousel-indicators {
    /* margin-bottom: -3.5rem; */
    bottom: -4rem;
}
.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: darkgrey;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
 }

 .carousel .carousel-indicators button.active {
    background-color: #815d51;
 }
 .carousel-control {
    position: absolute;
    top: 50%; /* pushes the icon in the middle of the height */
    z-index: 5;
    display: inline-block;
}
.carousel-control-next, .carousel-control-prev {
    width: 8%;
}
span.carousel-control-next-icon {
    background-image: url("../images/circle_arrow.png");
    width:3em;
    height:3em;
}

span.carousel-control-prev-icon {
    background-image: url("../images/circle_arrow.png");
    transform: rotateY(180deg);
    width:3em;
    height:3em;
}

.maincolor
{
    color:#815d51;
}

#about
{
    margin-top:6rem;
}


footer
{

}

#footer_top
{
    width:100%;
    background-color:#815d51;
    padding:30px;
    color:white;
    line-height: 40px;
    font-weight: 200;
}

#footer_copyright
{
    min-height: 60px;
    width:100%;
    color: #815d51;
    background-color: white;
}

.font_footer_regular
{
    font-weight: 400;
}

.footer_logo
{
    width:80px;
}

.footer_icon
{
    width:30px;
    margin-left:10px;
    margin-top:20px;
}


@media only screen and (max-width: 767px) {
    .carousel-control-next, .carousel-control-prev {
        width: 15%;
    }
    .carousel.slide
    {
        height: auto;
    }
}