/* 
    #815d51 
    #f7ebdf
    #fefdfb
    #fbf4ee
    #fbd11b yellow
*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Kanit', sans-serif;
}
.logo_img
{
    width:60px;
}

/* nav set */
.nav-link
{
    margin:15px;
}
.nav-link.active
{
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #815d51;
    width: fit-content;
}

/* btn set */
.btnlogin
{
    color:white;
    background-color: #815d51;
    border-radius: 18px;
    padding:5px;
    width:160px;
}
.btnsearch
{
    color:white;
    background-color: #815d51;
    border-radius: 18px;
    padding:15px 30px;
    width:190px;
}
.btnsearch:hover
{
    color:white;
    background-color: #815d51;
}
.btnlogin:hover
{
    color:white;
    background-color: #815d51;
}

/* carusel set */
.carousel.slide
{
    height: auto;
}

.carousel-indicators {
    /* margin-bottom: -3.5rem; */
    bottom: -4rem;
}
.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: darkgrey;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
 }

 .carousel .carousel-indicators button.active {
    background-color: #815d51;
 }
 .carousel-control {
    position: absolute;
    top: 50%; /* pushes the icon in the middle of the height */
    z-index: 5;
    display: inline-block;
}
.carousel-control-next, .carousel-control-prev {
    width: 8%;
}
span.carousel-control-next-icon {
    background-image: url("../images/circle_arrow.png");
    width:3em;
    height:3em;
}

span.carousel-control-prev-icon {
    background-image: url("../images/circle_arrow.png");
    transform: rotateY(180deg);
    width:3em;
    height:3em;
}


.owl-stage-outer
{
    padding: 10px 0 10px 0;
}


/* main set */

#new_book
{
    background-color: #fbf4ee;
}

#promotion_book
{
    background-color: #fbf4ee;
}


#bast_seller_book
{
    background-color: #815d51;
    color: white;
}


.bast_seller-link
{
    color: white;

}

.maincolor
{
    color:#815d51;
}

#about
{
    margin-top:6rem;
}


.content-text
{
    font-size: 22px;
    line-height: 40px;
    font-weight: 400;
}

#about-images
{
    padding:6rem;
}

.nextall
{
    font-size: 36px;
    position: absolute;
    margin-top: -9px;
}


/* search set */

#search
{
    background-color: #fbf4ee;
}

#search-content
{
    background-color: #f7ebdf;
    height: 480px;
    margin: 30px 0px;
    border-radius: 30px;
    font-weight: 400;
    font-size:18px;
}

.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
      
}

.search input{

    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}


.search input:focus{
    box-shadow: none;
    border: 2px solid blue;
}

.search .fa-search{
    position: absolute;
    top: 22px;
    left: 16px;
    color: gray;
}

.search button{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue;
}


/* card set */

.card.card-newbook{
    margin: 0 1.5em 0 0;
    box-shadow: none;
    border: none;
}

.card-title-newbook
{
    background-color: #fbf4ee;
    margin-bottom: 0px;
    padding-top:20px;
}

.card-text-newbook
{
    background-color: #fbf4ee;
    color: #815d51;
}

.card-bast_seller_book{
    margin: 0 1.5em 0 0;
    box-shadow: none;
    border: none;
    box-sizing: unset;
    background-color: #815d51;
}

.card-bast_seller_book.card-img-overlay{
    box-shadow: none;
    border: none;
    box-sizing: unset;
}

.card-bast_seller_book.card-img
{
    border: none;
    box-sizing: unset;
}

.card-title-bast_seller_book
{
    background-color: #815d51;
    margin-bottom: 0px;
    padding-top:20px;
    color: white;
    border: none;
    box-sizing: unset;
}

.card-text-bast_seller_book
{
    background-color: #815d51;
    color: white;
    border: none;
    box-sizing: unset;
}

.card-title-news
{
    padding:10px 10px 0 10px;
    color: #815d51;
}

.card-text-news
{
    padding:10px 10px 20px 10px;
}

.card-subtitle-news
{
    font-size: 12px;
    padding-right:10px;
    text-align: right;
    right:0;
}


/* footer set */

footer
{

}

#footer_top
{
    width:100%;
    background-color:#815d51;
    padding:30px;
    color:white;
    line-height: 40px;
    font-weight: 200;
}

#footer_copyright
{
    min-height: 60px;
    width:100%;
    color: #815d51;
    background-color: white;
}

.font_footer_regular
{
    font-weight: 400;
}

.footer_logo
{
    width:80px;
}

.footer_icon
{
    width:30px;
    margin-left:10px;
    margin-top:20px;
}

#backtotop
{
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
    border-radius: 50%;
    width:50px;
    position: absolute;
    right: 0;
    margin-right: 50px;
    margin-top:-30px;
    cursor: pointer;
}

/* The ribbon */
.ribbon-book {
    font-size:10px;
    font-weight: 300;
    padding: 0 0 10px 0;
    position: absolute;
    right: 1em;
    top: -0.5em;
    width: 40px;
    border-top-left-radius: 3px;
}
.ribbon-book div {
    background: #fbd11b;
    background: linear-gradient(#fbd11b 0%, #fbd11b 100%);
    color: #fff;
    padding: 1em 0;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}
.ribbon-book div:after {
    border-left: 20px solid #fbd11b;
    border-right: 20px solid #fbd11b;
    border-bottom: 10px solid transparent;
    bottom: 0;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}
.ribbon-book:before {
    height: 0;
    width: 0;
    right: -5.5px;
    top: 0.1px;
    border-bottom: 6px solid #8D5A20;
    border-right: 6px solid transparent;
}
.ribbon-book:before, .ribbon-book:after {
    content: "";
    position: absolute;
}

.ribbon-book.ribbon-book-best {
    font-size:10px;
    font-weight: 300;
    padding: 0 0 10px 0;
    position: absolute;
    right: 4em;
    top: -0.5em;
    width: 40px;
    border-top-left-radius: 3px;
}
.ribbon-book.ribbon-book-best div {
    background: #fb1b1b;
    background: linear-gradient(#fb1b1b 0%, #fb1b1b 100%);
}
.ribbon-book.ribbon-book-best div:after {
    border-left: 20px solid #fb1b1b;
    border-right: 20px solid #fb1b1b;
    border-bottom: 10px solid transparent;
}
.ribbon-book.ribbon-book-best:before {
    height: 0;
    width: 0;
    right: -5.5px;
    top: 0.1px;
    border-bottom: 6px solid #fb5e1bca;
    border-right: 6px solid transparent;
}

/* Media screen */
@media only screen and (max-width: 1399px) {
    #search-content
    {
        height: auto !important;
    }
}

@media only screen and (max-width: 767px) {
    .carousel-control-next, .carousel-control-prev {
        width: 15%;
    }
    .carousel.slide
    {
        height: auto;
    }
    
    #search-content
    {
        height: auto;
    }
}


/* Multiple Carusel */

.carousel-inner-mul .carousel-item.active,
.carousel-inner-mul .carousel-item-next,
.carousel-inner-mul .carousel-item-prev {
    display: flex;
}

@media (max-width: 767px) {
    .carousel-inner-mul .carousel-item > div {
        display: none;
    }
    .carousel-inner-mul .carousel-item > div:first-child {
        display: block;
    }
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner-mul .carousel-item-end.active,
    .carousel-inner-mul .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner-mul .carousel-item-start.active, 
    .carousel-inner-mul .carousel-item-prev {
        transform: translateX(-25%);
    }
}


.carousel-inner-mul .carousel-item-end,
.carousel-inner-mul .carousel-item-start { 
    transform: translateX(0);
}
